@import '../../_variables.scss';

footer {
    font-family: $sansSerifFont;
    font-weight: 900;
    margin: 1em auto;
    letter-spacing: 0em;
    
    .footer-divider {
        width: 3em;
        border-bottom: solid;
        margin: 1em auto
    }
}