/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lora|Catamaran:900');
@import '_variables.scss';
@for $index from 1 through 6 {
  h#{$index} {
    font-weight: 400;
  }
}

body {
  margin: 0px;
}

app-root {
  background-color: $bodyBgColor;
  color: $textColor;
  font-family: $fontFamily;
  display: flex;
  justify-content: center;
  letter-spacing: $letterSp1;
  min-height: 100vh;
  margin: 0px;
  position: relative;
}

.m-t-1 {
  margin-top: 1em;
}

.text-center {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

@include linx($textColor, $textColor, $textColor, $textColor);

a:not(.button) {
  position: relative;
  text-decoration: none;
  &::before {
    position: absolute;
    content: '';
    border-bottom: solid 0px #FE5F55;
    width: 100%;
    height: 100%;
    bottom: 0px;
    transition: border-bottom 0.2s;
  }
  &:hover {
    &::before {
      border-bottom: solid 5px #FE5F55;
    }
  }
}